@import '../variables';

.fourth-panel {
  &.big-devices {
    display: none;
  }

  .quote-box {
    .icon-quote-box {
      margin-right: 30px;
    }
    p, span {
      font-size: 13px;

      &:before {
        font-size: 30px;
      }
    }
  }

  .text-4 {
    span {
      font-size: 30px;
    }
  }
  .carousel-control-next,
  .carousel-control-prev {
    top: 200px;
    width: 50px;
    height: 50px;
    border-radius: 2px !important;
  }

  .carousel-control-prev {
    left: 1%;
  }

  .carousel-control-next {
    right: 1%;
  }

  .carousel {
    padding-left: 5px;
    padding-right: 5px;

    .carousel-item {
      .text-name {
        font-size: 20px;
      }
      .position {
        font-size: 15px;
      }
      .description {
        font-size: 13px;
      }

      .box-image {
        position: relative;

        .border-image {
          position: absolute;
          top: 10px;
          left: -10px;
          width: 130px;
          height: 190px;
          border: 1px solid rgba($crimson, 0.4);
          z-index: -1;
        }

        .carusel-image {
          width: 130px;
        }
      }
    }
  }
}