@import '../variables';
//panels
@import 'second_box';
@import 'third_box';
@import 'fourth_box';
@import 'fifth_box';
@import 'six_box';
@import 'seventh_box';
@import 'eighth_box';
@import 'ninth_box';
@import 'modalHow';


* {
    font-size: 16px;
}

.header-panel {
    height: 100vh;
    margin-bottom: 80px;

    &>.row {
        .left-side-box {
            .row {
                padding:0 12%;
                margin-top: 7%;
                display: block;
                text-align: center;

                .title-big-1 {
                    font-size: 30px;
                    margin-top: 50px;
                    margin-bottom: 25px;

                    span {
                        font-size: 30px;
                    }
                }

                .text-color-light-gray {
                    font-size: 15px;
                    margin-bottom: 25px;
                }
            }
        }
    }

    .btn-bottom {
        position: absolute;
        bottom: 0;

        .btn-group-lang {
            float: left;
        }

        .btn-lang {
            background: transparent;
        }

        .btn-group-sign-in {
            float: left;

            .btn {
                color: $crimson;

                .icon:before {
                    color: $crimson;
                }
            }
        }
    }

    .lion-header {
        width: 100%;
        margin-top: 30px;
        @extend .img-center;


        @media (max-width: 374.98px) {
            max-width: 40px;
        }

        @media (min-width: 375px) {
            max-width: 90px;
        }
    }
}

.footer-panel {
    .row {
        padding-left: 15px;
    }

    .footer-contacts {
        font-size: 16px;

        span {
            font-size: 16px;
        }
    }

    .media-box {
        padding-left: 0;

        .we-are-in-app {
           div {
               span {
                   padding: 10px 0;
               }
           }
        }

        .text-color-light-gray {
            margin-bottom: 14px;
        }

        .col-12 {
            margin-right: 0.5rem;

            .views {
                font-size: 0.6rem;
            }

            .media-link {
                font-size: 14px;
                margin-bottom: 0;
            }
        }
    }

    .logo {
        margin-left: 10px!important;
    }
}

.logo {
    width: 90px;
    height: 90px;

    @extend .img-center;
}

.img-center {
   margin-left: auto!important;
   margin-right: auto!important;
   display: block;
}