.ninth-panel {
  .row {
    padding-left: 15px;

    .text-color-light-gray {
      font-size: 1.6em;

      span {
        font-size: 1em;
      }
    }
  }

  .card {
    margin-bottom: 15px;

    .card-body {
      width: 100%;
      color: white;

      @media (max-width: 374.98px) {
        height: 200px;
      }

      @media (min-width: 375px) {
        height: 250px;
      }

      .card-text {
        font-size: 1.7rem;

        span {
          font-size: 1.7rem;
        }
      }
    }
  }

  .btn-gradient-border {
    background: transparent;
  }

  .news-1 {
    background: url("../images/news-1.png") no-repeat;
    background-size: 100%;
  }

  .news-2 {
    background: url("../images/news-2.png") no-repeat;
    background-size: 100%;
  }
}