.ninth-panel {
  .row {
    padding-left: 15px;
  }

  .card-body {
      width: 100%;
      color: white;

      @media (max-width: 374.98px) {
        height: 200px;
      }

      @media (min-width: 375px) {
        height: 248px;
      }

      .bd-highlight {
        p {
          font-size: 13px;
        }
      }

      .card-text {
        font-size: 20px;

        span {
          font-size: 20px;
        }
      }
    }

  .box-title {
    .text-1 {
      font-size: 30px;
      font-weight: 800;
    }
  }

  .box-video {
    >div {
      padding: 0;
      margin: 30px;
    }

    .empty-box-video {
      display: none;
    }
  }
}