.ninth-panel {
  .row {
    padding-left: 15px;
  }

  .card {
    margin-bottom: 25px;

    .card-body {
      width: 100%;
      color: white;

      @media (max-width: 374.98px) {
        height: 200px;
      }

      @media (min-width: 375px) {
        height: 248px;
      }

      .bd-highlight {
        p {
          font-size: 13px;
        }
      }

      .card-text {
        font-size: 20px;

        span {
          font-size: 20px;
        }
      }
    }
  }

  .box-title {
    .text-1 {
      font-size: 30px;
      font-weight: 800;
    }
  }

  .box-video {
    .col-sm {
      padding: 0;
    }
  }


  .news-1 {
    background: url("../images/news-1.png") no-repeat;
    background-size: 100%;
  }

  .news-2 {
    background: url("../images/news-2.png") no-repeat;
    background-size: 100%;
  }
}