@import '../variables';

.second-panel {
  margin-top: 90px;

  .left-transform,
  .right-transform {
    display: none;
  }

  >.row {
      padding-left: 4%;
  }

  .font-weight-bold {
    span {
      font-size: inherit;
    }
  }

  .btn-gradient {
    &+.card-text {
      float: left;
    }
  }

  .text-color-light-gray,
  .card-text {
    width: 80%;

    &.float-left {
      width: 50%;
    }
  }

  .card-deck {
    padding-left: 0;
  }

  .card-toggle {
    margin: 0 1px;
    padding-left: 0px;

    >div {
      padding: 0;
    }

    .card-body {
      min-height: 140px;

      .card-title {
        font-size: 20px;
      }
    }
  }
}