@import '../variables';

.second-panel {
  .left-transform,
  .right-transform {
    display: none;
  }

  >.row {
      padding-left: 20px;

    p,
    strong {
      font-size: 12px;
    }
  }

  .font-weight-bold {
    span {
      font-size: inherit;
    }
  }

  .text-color-light-gray,
  .card-text {
    font-size: 10px;
    width: 80%;
  }

  .card-toggle {
    margin: 0 1px;
    padding-left: 0px;

    >div {
      padding: 0;
    }

    .card-body {
      min-height: 140px;
    }
  }

  .toggle-element {
    font-size: 10px;
  }

}