.third-panel {
  .left-side-box {
    .text-1 {
      font-size: 30px;
    }
    .text-3 {
      font-size: 30px;
      margin-top: 0;
    }

    p {
      margin-left: -40px;
    }

    .box-img {
      height: 170px;
      overflow: hidden;
      margin-left: -10%;
      width: 127%;

      .box-3-image {
        width: 110%;
        margin-bottom: 20px;
        margin-left: -10%;
      }
    }

  }
}