.eighth-panel {
  .row {
    padding-right: 15px;
    padding-left: 15px;

    .text-4 {
      font-size: 50px;
      text-align: center;
    }

    .text-color-purple {
      position: relative;
      font-size: 50px;

      .text-border-purple {
        font-size: 50px;
        position: absolute;
        top: 3px;
        right: -4px;
        z-index: -100;
      }
    }
  }

  .row-card-bonus {
    .card-body {

      .col-md {
        &:first-child {
          padding-right: 0!important;
          padding-bottom: 0!important;
        }

        &:last-child {
          padding-left: 0!important;
        }
      }

      .card-text {
        font-size: 11px;

        br {
          line-height: 1px;
        }

        span {
          font-size: 12px;
        }
      }

      > div {
        &:last-child {
          overflow: hidden;
        }
      }
    }
  }

  .btn-lang,
  .text-inline {
    display: inline;
    text-align: center;
  }

  .text-inline {
    margin-left: 5%;
  }
}