@import '../variables';
//panels
@import 'second_box';
@import 'third_box';
@import 'fourth_box';
@import 'fifth_box';
@import 'six_box';
@import 'seventh_box';
@import 'eighth_box';
@import 'ninth_box';

* {
  font-size: 1rem;
}

.header-panel {
  max-height: 30%;
  height: 450px;
  margin-bottom: 90px;

  &>.row {
    .left-side-box {
      //background: url("../../images/box-1-bg.png")no-repeat;
      //background-size: 135%;

      .row {
        padding:0 12%;
        margin-top: 7%;
        display: block;
        text-align: center;

        .title-big-1 {
          font-size: 1.4rem;
          margin-top: 30px;
          margin-bottom: 15px;

          span {
            font-size: inherit;
          }
        }

        .text-color-light-gray {
          font-size: 0.9rem;
        }
      }
    }
  }

  .btn-bottom {
    padding:0 12%;

    .btn-lang {
      background: transparent;
    }

    .btn-group-sign-in {
      float: right;

      .btn {
        color: $crimson;

        .icon:before {
          color: $crimson;
        }
      }
    }
  }

  .lion-header {
    width: 100%;
    margin-top: 10px;
    max-width: 110px;
    @extend .img-tablet-center;

  }
}

.footer-panel {
  .row {
    padding-left: 15px;
  }

  .footer-contacts {
    font-size: 0.9rem;

    span {
      font-size: 0.9rem;
    }
  }

  .media-box {
    .text-color-light-gray {
      margin-bottom: 0.5rem;
    }

    .col-6 {
      margin-right: 0.9rem;

      .views {
        font-size: 0.7rem;
      }

      .media-link {
        font-size: 0.9rem;
        margin-bottom: 0;
      }
    }

    .icon {
      font-size: 1.3rem;
    }
  }
}

.logo {
  width: 70px;
  height: 50px;
  @extend .img-tablet-center;
}

.img-tablet-center {
  margin-left: auto!important;
  margin-right: auto!important;
  display: block;
}
