@import '../variables';
//panels
@import 'second_box';
@import 'third_box';
@import 'fourth_box';
@import 'fifth_box';
@import 'six_box';
@import 'seventh_box';
@import 'eighth_box';
@import 'ninth_box';
@import 'modalHow';


* {
  font-size: 18px;
}

.header-panel {
  height: 100vh;
  margin-bottom: 90px;

  .logo {
    @extend .img-tablet-center;
  }

  &>.row {
    .left-side-box {
      min-height: 400px;

      .row {
        padding:0 12%;
        margin-top: 7%;
        display: block;
        text-align: center;

        .title-big-1 {
          font-size: 1.4rem;
          margin-top: 30px;
          margin-bottom: 15px;

          span {
            font-size: inherit;
          }
        }

        .text-color-light-gray {
          font-size: 0.9rem;
        }
      }
    }
  }

  .btn-bottom {
    padding: 0 5% 30px 6%;
    position: absolute;
    bottom: 1.5%;

    .btn-lang {
      background: transparent;
    }

    .btn-group-sign-in {
      float: right;

      .btn {
        color: $crimson;

        .icon:before {
          color: $crimson;
        }
      }
    }
  }

  .lion-header {
    width: 100%;
    margin-top: 7%;
    max-width: 150px;
    @extend .img-tablet-center;

  }
}

.footer-panel {
  .row {
    padding-left: 15px;
  }

  .we-are-in-app {
    -ms-flex-align: start!important;
    align-items: flex-start!important;
    display: -ms-flexbox!important;
    display: flex!important;
  }

  .footer-contacts {
    font-size: 20px;

    span {
      font-size: 20px;
    }
  }

  .media-box {
    .text-color-light-gray {
      margin-bottom: 0.5rem;
    }

    .col-12 {
      margin-right: 0.9rem;

      .views {
        font-size: 0.7rem;
      }

      .media-link {
        font-size: 0.9rem;
        margin-bottom: 0;
      }
    }

    .icon {
      font-size: 18px;
      padding: 17px 0;

      &.icon-vk {
        padding: 0;
      }
    }
  }
}

.logo {
  width: 70px;
  height: 50px;
}

.img-tablet-center {
  margin-left: auto!important;
  margin-right: auto!important;
  display: block;
}
