@import '../variables';

.second-panel {
  .left-transform,
  .right-transform {
    display: none;
  }

  >.row {
    padding-left: 20px;

    p,
    strong {
      font-size: 1em;
    }
  }

  .font-weight-bold {
    span {
      font-size: inherit;
    }
  }

  .card-deck {
    padding: 0;
    margin-left: 0%;

    .card {
      &:first-child{
        padding-right: 2%;
        margin-right: 4%;
        margin-left: 0;
      }

      &:last-child {
        padding-right: 4%;
        margin: 0;
      }
    }
  }

  .text-color-light-gray,
  .card-text {
    font-size: 10px;
    width: 80%;
  }

  .collapse {
    p,
    strong {
      font-size: 1.1rem;
    }
  }

  .card-toggle {
    margin-left: -49px;

    .card-body {
      min-height: 290px;
    }
  }

  .toggle-element {
    font-size: 10px;
  }
}