@import '../variables';

.second-panel {
  >.row {
    padding-left: 20px;

    p,
    strong {
      font-size: 1em;
    }
  }

  .font-weight-bold {
    span {
      font-size: inherit;
    }
  }

  .text-color-light-gray,
  .card-text {
    font-size: 10px;
    width: 80%;
  }

  .collapse {
    p,
    strong {
      font-size: 1.1rem;
    }
  }

  .card-toggle {
    margin-left: -49px;

    .card-body {
      min-height: 290px;
    }
  }

  .toggle-element {
    font-size: 10px;
  }
}