@import '../variables';

.seventh-panel {
  .row{
    padding-right: 15px;

    &.title-box {
      .text-4 {
        font-size: 50px;

        span {
          font-size: 50px;
        }
      }
      p {
        text-align: left!important;
      }
    }
  }

  .box-image {
    img {
      width: 100%;
    }
  }

  .btn-registration {
    margin-top: -15px;
  }

  .list-style-plus {
    > li {
      margin-bottom: 10px;

      div {
        margin-top: -28px;

        h5 {
          letter-spacing: 1px;
          font-size: 20px;
        }
      }

      &:before {
        text-indent: -30px;
      }
    }
  }
}
