.sixth-panel {
  .row {
    padding-left: 15px;
  }

  .right-side-box {
    padding-left: 0;
    margin-bottom: 20px;

    .image-box {
      width: 100%;
    }
  }

  .list-style-plus {
    li {
      div {
        margin-top: -28px;

        h5 {
          font-size: 20px;
        }
      }
      &:before {
        text-indent: -40px;
      }
    }
  }

  .form-contacts {
    padding-right: 15px;

    .btn-gradient-border {
      height: 50px;
      padding-top: 7px;

      .attach-file {
        opacity: 0;
      }
    }

    .form-text, .text-color-light-gray {
      font-size: 1rem;
    }
  }
}