.third-panel {
  .left-side-box {
    .text-1 {
      font-size: 7em;
    }

    p {
      font-size: 1.3em;
    }

    .box-3-image {
      width: 90%;
      margin-bottom: 20px;
    }
  }

  .right-side-box {
    p,
    strong {
      font-size: 1.3em;
    }
  }

  .text-3 {
    font-size: 4em;
    margin-top: 13px;
  }
}