.third-panel {
  .left-side-box {
    .text-1 {
      font-size: 60px;
      font-weight: 800;
    }

    .box-3-image {
      width: 90%;
      margin-bottom: 20px;
    }
  }

  .text-3 {
    font-size: 45px;
    margin-top: 8px;
  }
}