@import 'variables';

.second-panel {
  .font-weight-bold {
    position: relative;

    .text-border-purple {
      position: absolute;
      top: 6px;
      right: -6px;
      z-index: -100;
    }
  }

  .text-color-light-gray,
  .card-text {
    font-size: 10px;
  }

  .card-title {
    color: $purple;
    font-weight: bold;
  }

  .card-toggle {
    .card-body {
      min-height: 140px;
      box-shadow: $purple -1px 7px 34px -10px;

      &.collapsed {
        box-shadow: none;

        .card-title {
          color: $purple;

        }

      }
      .card-title {
        color: $crimson;
      }

    }


  }

  .toggle-element {
    font-size: 10px;
  }

}