.sixth-panel {
  .right-side-box {
    position: relative;

    .image-box {
      position: absolute;
      left: -51%;
      width: 150%;
    }
  }

  .list-style-plus {
    li {
      &:before {
        text-indent: -20px;
      }
    }
  }
}