.third-panel {
  .left-side-box {
    position: relative;

    .text-style-bold {
      position: absolute;

      .text-color-purple {
        font-size: 2em;
      }
    }

    .box-3-image {
      width: 100%;
      position: absolute;
      left: -20%;
    }
  }

}