.eighth-panel {
  &.addition-box {
    margin-top: 0;

    a.btn-gradient {
      margin-left: 550px;
      padding: 15px 10px;
      font-weight: 600;
    }
  }

  .row {
    padding-right: 15px;
    padding-left: 15px;

    .text-4 {
      font-size: 75px;
      text-align: center;

      .wrap-title {
        display: none;
      }
    }

    .text-color-purple {
      position: relative;
      font-size: 75px;

      .text-border-purple {
        font-size: 75px;
        position: absolute;
        top: 13px;
        right: -8px;
        z-index: -100;
      }
    }
  }

  .row-card-bonus {
    .card-body {

      > div {
        &:first-child {
          padding-bottom: 0!important;
        }
      }
      p {
        font-size: 15px;
      }

      span {
        font-size: 15px;
      }

      br {
        line-height: 1px;
      }

      .img-gift {
        width: 125% !important;
        margin-left: -13%;
      }

      > div {
        &:first-child {
          font-size: 15px;
        }
      }
    }
  }

  .group-sign-up {
    -ms-flex-align: baseline!important;
    align-items: baseline!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
    display: -ms-flexbox!important;
    display: flex!important;
  }
}