@import '../variables';

.fourth-panel {
  .text-4 {
    font-size: 75px;
    font-weight: 800;

    span {
      font-size: 75px;
      font-weight: 800;
    }
  }
  .carousel-control-next,
  .carousel-control-prev {
    top: 250px;
    width: 50px;
    height: 50px;
    border-radius: 2px !important;
  }

  .carousel-control-prev {
    left: -5%;
  }

  .carousel-control-next {
    right: -5%;
  }

  .carousel {
    //padding: 0 7%;

    .carousel-item {
      > div {
        flex-direction: row!important;
        display: flex;
      }

      .text-name {
        font-size: 2em;
      }
      .position {
        font-size: 1.1em;
      }
      .description {
        font-size: 1.2em;
      }

      .box-item {
        position: relative;

        .quote-box {
          bottom: 0;

          .icon-quote-box {
            width: 280px;
            position: relative;

            .icon-quote {
              position: absolute;
              right: 30px;
            }
          }
        }
      }


      .box-image {
        position: relative;

        .border-image {
          position: absolute;
          top: 10px;
          left: -20px;
          width: 250px;
          height: 370px;
          border: 1px solid rgba($crimson, 0.4);
          z-index: -1;
        }

        .carusel-image {
          width: 250px;
          height: 358px;
        }
      }
    }
  }
}