@import '../variables';

.second-panel {
  position: relative;
  .left-transform {
    transform: rotate(90deg);
    position: absolute;
    left: -230px;
    bottom: 27%;
  }

  .right-transform {
    transform: rotate(-90deg);
    position: absolute;
    right: -230px;
    bottom: 27%;
  }

  >.row {
    padding-left: 20px;

    .text-1 {
      font-size: 6em;
    }

    p,
    strong {
      font-size: 12px;
    }
  }

  .font-weight-bold {
    span {
      font-size: inherit;
    }
  }

  .card-deck {
    padding: 0;
    margin-left: 0%;

    .card {
      &:first-child{
        padding-right: 25px;
        margin-right: 28px;
        margin-left: 0;
      }

      &:last-child {
        padding-right: 4%;
        margin: 0;
      }
    }
  }

  .text-color-light-gray,
  .card-text {
    font-size: 10px;
    width: 80%;
  }

  .collapse {
    p,
    strong {
      font-size: 1.1rem;
    }
  }

  .card-toggle {
    margin-left: -49px;

    .card-body {
      min-height: 140px;
    }
  }

  .toggle-element {
    font-size: 10px;
  }
}