@import '../variables';

.second-panel {
  position: relative;

  .left-transform {
    @media (min-width: 1420px) and (max-width: 1780.98px) {
      display: none;
    }

    @media (min-width: 1781px) {
      position: absolute;
      left: -230px;
      bottom: 0;
    }
  }

  .right-transform {
    @media (min-width: 1420px) and (max-width: 1780.98px) {
      display: none;
    }

    @media (min-width: 1781px) {
      position: absolute;
      right: -230px;
      bottom: 0;

    }
  }

  >.row {
    padding-left: 20px;
  }

  .font-weight-bold {
    span {
      font-size: inherit;
    }
  }

  .card-deck {
    padding: 0;
    margin-left: 0%;

    .card {

      &:first-child{
        padding-right: 41px;
        margin-right: 31px;
        margin-left: 0;
      }

      &:last-child {
        padding-right: 4%;
        margin: 0;
      }

      &.card-bonus {
        padding-right: 0;
        padding-left: 0;
      }

      &.card-career {
        padding-right: 0;
      }
    }
  }

  .card-text {
    font-size: 15px;
    width: 80%;
  }
  .card-title {
    font-size: 24px;
    font-weight: 800;
  }

  .collapse {
    p,
    strong {
      //font-size: 1.1rem;
    }
  }

  .card-toggle {
    margin-left: -30px;

    .card-body {
      min-height: 210px;
    }
  }

  .toggle-element {
    p,
    strong {
      font-size: 15px;
    }
  }
}