@import '../variables';

.seventh-panel {
  .row{
    padding-right: 15px;

    &.title-box {
      text-align: center;
      margin-bottom: 30px;

      .text-4 {
        font-size: 50px;

        span {
          font-size: 50px;
        }
      }
    }
  }

  .box-image {
    img {
      width: 140%;
      margin-right: -20%;
    }
  }

  .btn-registration {
    margin-top: -15px;
    padding: 0 80px;
  }

  .list-style-plus {
    > li {
      margin-bottom: 10px;

      div {
        margin-top: -30px;

        p {
          font-size: 15px;
        }

        h5 {
          font-size: 20px;
          letter-spacing: 1px;
        }
      }

      &:before {
        text-indent: -40px;
      }
    }
  }

  .list-with-dashed {
    li {
      font-size: 15px;
    }
  }
}
