.sixth-panel {
  .row {
    padding-left: 15px;

    >p {
      font-size: 13px;
    }
  }

  .right-side-box {
    padding-left: 0;
    margin-bottom: 20px;

    .image-box {
      width: 126%;
      margin-left: -20%;
    }
  }

  .list-style-plus {
    li {
      div {
        margin-top: -14px;
        p, span {
          font-size: 1rem;
        }

        h5 {
          letter-spacing: 1px;
        }
      }
      &:before {
        text-indent: -30px;
      }
    }
  }

  .form-contacts {
    padding-right: 15px;

    .col-lg-4 {
      flex: 0 0 31%;
      max-width: 31.333333%;
    }

    .reverse-row {
      flex-direction: row-reverse;
      padding-right: 9%;

      .col-lg-8 {
        margin-right: 1.9rem;
        flex: 0 0 70%;
        max-width: 70%;
      }

      .col-lg-halg-3 {
        flex: 0 0 27%;
        max-width: 27%;
      }
    }

    .btn-gradient-border {
      background: transparent;
    }

    .form-text, .text-color-light-gray {
      font-size: 1rem;
    }
  }
}