.third-panel {
  .left-side-box {
    .text-1 {
      font-size: 130px;
      font-weight: 800;
    }

    .box-3-image {
      position: absolute;
      left: -27%;
      width: 120%;
    }
  }

  .right-side-box {
    padding-left: 35px;
  }

  .text-3 {
    font-size: 50px;
    margin-top: 28px;
  }
}