@import "../variables";

.eighth-panel {
  &.addition-box {
    margin-top: 0;

    a.btn-gradient {
      margin-left: 25%;
      padding: 15px 10px;
      font-weight: 600;
    }
  }

  .row {
    padding-right: 15px;
    padding-left: 15px;

    .text-4 {
      font-size: 50px;
      text-align: center;

      .wrap-title {
        display: none;
      }
    }

    .text-color-purple {
      position: relative;
      font-size: 50px;

      .text-border-purple {
        font-size: 50px;
        position: absolute;
        top: 13px;
        right: -8px;
        z-index: -100;
      }
    }
  }

  .row-card-bonus {
    .card-body {

      > div {
        &:first-child {
          padding-bottom: 0!important;
          font-size: 15px;
        }

        &:last-child {
          overflow: hidden;
          padding: 0;

          @media (min-width: $desctop-start) and (max-width: 1109.98px) {
            .img-gift {
              width: 155% !important;
              margin-left: -14%;
            }
          }

          @media (min-width: 1110px) and (max-width: 1199.98px) {
            .img-gift {
              width: 115% !important;
              margin-left: -14%;
            }
          }

          @media (min-width: 1200px) {
            .img-gift {
              width: 215% !important;
              margin-left: -24%;
            }
          }
        }
      }

      p {
        font-size: 15px;
      }

      span {
        font-size: 15px;
      }

      br {
        line-height: 1px;
      }
    }
  }

  .group-sign-up {
    -ms-flex-align: baseline!important;
    align-items: baseline!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
    display: -ms-flexbox!important;
    display: flex!important;
  }
}