@import '../variables';
//panels
@import 'second_box';
@import 'third_box';
@import 'fourth_box';
@import 'fifth_box';
@import 'six_box';
@import 'seventh_box';
@import 'eighth_box';
@import 'ninth_box';

* {
  font-size: 0.8rem;
}

.header-panel {
  height: 100vh;

  &>.row {

    .left-side-box {
      background: url("../../images/box-1-bg.png")no-repeat;
      background-size: 110%;

      .row {
        padding-left: 12%;
        margin-top: 80px;
        flex-direction: column;

        .title-big-1 {
          font-size: 50px;
          margin: 55px 0 40px;

          span {
            font-size: 50px;
          }
        }

        .text-color-light-gray {
          font-size: 18px;
          margin-bottom: 30px;
        }

        .btn-gradient {
          width: 250px;
          height: 60px;
          padding-top: 10px;
          font-size: 24px;
        }
      }
    }

    .right-side-box {
      position: relative;

      .row {
        bottom: 14%;
        right: 0;
        padding: 20px;
        position: absolute;

        @media (min-width: $desctop-start) and (max-width: 1060.98px) {
          .king-size {
            font-size: 7.3rem;
            line-height: 11rem;
            font-weight: 900;

            .who {
              font-weight: 900;
              font-size: 14rem;
            }
          }
        }

        @media (min-width: 1061px) {
          .king-size {
            font-size: 7.5rem;
            line-height: 11rem;
            font-weight: 900;

            .who {
              font-size: 13rem;
              font-weight: 900;
            }
          }
        }
      }
    }
  }

  .btn-bottom {
    padding: 0 6%;
    position: absolute;
    bottom: 40px;

    a {
      font-size: 24px;
    }

    .btn-lang {
      background: transparent;
    }

    .btn-group-sign-in {
      float: right;

      .btn {
        color: white;

        .icon:before {
          color: white;
        }
      }
    }
  }

  .lion-header {
    width: 110%;
    position: absolute;
    z-index: 10;

    @media (min-width: $desctop-start) and (max-width: 1060.98px) {
      max-width: 290px;
      top: 100px;
      right: -110px;
    }

    @media (min-width: 1061px) and (max-width: 1219.98px) {
      max-width: 310px;
      top: 110px;
      right: -130px;
    }

    @media (min-width: 1220px) {
      max-width: 380px;
      top: 30px;
      right: -170px;
    }
  }
}

.footer-panel {
  .row {
    padding-left: 15px;
  }

  .footer-contacts {
    font-size: 1.4rem;

    span {
      font-size: 1.2rem;
    }
  }

  .media-box {
    .text-color-light-gray {
      margin-bottom: 0.5rem;
    }

    .col-6 {
      margin-right: 0.9rem;

      .views {
        font-size: 0.8rem;
      }

      .media-link {
        font-size: 1rem;
        margin-bottom: 0;
      }
    }

    .icon {
      font-size: 1.5rem;
    }
  }
}

.logo {
  width: 116px;
  height: 116px;
}
