@import "../variables";

.ninth-panel {
  .row {
    padding-left: 15px;

    .text-color-light-gray {
      margin-bottom: 0;
    }
  }

  .card-body {
    width: 100%;
    color: white;

    @media (min-width: $desctop-start) and (max-width: 1199.98px){
      height: 345px;
    }

    @media (min-width: 1200px) {
      height: 415px;
    }

    .card-text {
      font-size: 26px;

      span {
        font-size: 26px;
      }
    }
  }

  .box-video {
    >div {
      padding: 0;
      margin: 30px 0 ;

      &:first-child {
        margin-right: 30px;
      }
    }
  }
}