@import '../variables';

.second-panel {
  position: relative;

  .left-transform,
  .right-transform {
    display: none;
  }

  >.row {
    padding-left: 20px;
  }

  .font-weight-bold {
    span {
      font-size: inherit;
    }
  }

  .card-deck {
    padding: 0;
    margin-left: 0%;

    .card {

      &:first-child{
        padding-right: 37px;
        margin-right: 30px;
        margin-left: 0;
      }

      &:last-child {
        padding-right: 5%;
        margin: 0;
      }

      &.card-bonus {
        padding-right: 0;
        padding-left: 0;
      }

      &.card-career {
        padding-right: 0;
      }
    }
  }

  .card-text {
    font-size: 15px;
    width: 80%;
  }
  .card-career .card-text{
    width: 70%;
  }

  .card-title {
    font-size: 24px;
    font-weight: 800;
  }

  .card-toggle {
    margin-left: -30px;

    .card-body {
      min-height: 210px;
    }
  }

  .toggle-element {
    p,
    strong {
      font-size: 15px;
    }
  }
}