@import '../variables';

.seventh-panel {
  .row{
    padding-right: 15px;

    &+.row {
      height: 495px;
    }

    &.d-flex {
      .text-4 {
        font-size: 50px;
        text-align: center;

        span {
          font-size: 50px;
        }
      }

      p {
        font-size: 20px;
        text-align: right;
      }
    }
  }

  .box-image {
    position: relative;

    img {
      height: 495px;
      position: absolute;
      left: 0;
      width: 743px;
    }

    a {
      bottom: -15px;
      position: absolute;
    }
  }

  .btn-registration {
    margin-top: -15px;
  }

  .list-style-plus {
    > li {
      margin-bottom: 10px;

      div {
        margin-top: -25px;

        p {
          font-size: 15px;
        }

        h5 {
          letter-spacing: 1px;
          font-size: 20px;
        }
      }

      &:before {
        text-indent: -30px;
        font-size: 14px;
      }
    }
  }

  .list-with-dashed {
    li {
      font-size: 12px;
      margin-bottom: 10px;
    }
  }
}
