.sixth-panel {
  .row {
    padding-left: 15px;

    .text-title {
      font-size: 50px;
    }

    >p {
      font-size: 20px;
    }
  }

  .right-side-box {
    padding-left: 0;
    margin-bottom: 20px;
    position: relative;
    height: 501px;

    .image-box {
      position: absolute;
      height: 501px;
      left: -560px;
    }
  }

  .list-style-plus {
    li {
      div {
        margin-top: -26px;

        p, span {
          font-size: 15px;
        }

        h5 {
          letter-spacing: 1px;
          font-size: 26px;
        }
      }

      &:before {
        text-indent: -30px;
        font-weight: bold;
        font-size: 16px;
      }
    }
  }

  .title-form {
    font-size: 26px;
  }

  .form-contacts {
    padding-right: 15px;

    .col-lg-4 {
      flex: 0 0 31%;
      max-width: 31.333333%;
    }

    .reverse-row {
      flex-direction: row-reverse;
      padding-right: 9%;

      .col-lg-8 {
        margin-right: 1.9rem;
        flex: 0 0 70%;
        max-width: 70%;
      }

      .col-lg-halg-3 {
        flex: 0 0 27%;
        max-width: 27%;
      }
    }

    .btn-gradient-border {
      height: 40px;
      padding-top: 7px;

      .attach-file {
        opacity: 0;
      }
    }

    .form-text, .text-color-light-gray {
      font-size: 1rem;
    }
  }
}