.sixth-panel {
  .text-title {
    font-weight: 800;
    font-size: 50px;
  }
  .row {
    padding-left: 15px;
  }

  br {
    line-height: 1;
  }

  .right-side-box {
    padding-left: 0;
    margin-bottom: 20px;

    .image-box {
      margin-left: -138%;
    }
  }

  .list-style-plus {
    padding-left: 80px;

    li {
      div {
        margin-top: -33px;

        p, span {
          font-size: 15px;
        }

        h5 {
          font-size: 20px;
        }
      }
      &:before {
        text-indent: -40px;
      }
    }
  }

  .form-contacts {
    padding-right: 15px;

    .col-lg-4 {
      flex: 0 0 31%;
      max-width: 31.333333%;
    }

    .reverse-row {
      flex-direction: row-reverse;
      padding-right: 7%;

      .col-lg-8 {
        margin-right: 1.8rem;
        flex: 1 0 68%;
        max-width: 70%;
      }

      .col-lg-halg-3 {
        flex: 0 0 26%;
        max-width: 36%;
      }
    }

    .btn-gradient-border {
      height: 50px;
      padding-top: 7px;

      .attach-file {
        opacity: 0;
      }
    }

    .form-text, .text-color-light-gray {
      font-size: 15px;
    }
  }
}