.fifth-panel .mark-title {
  display: block; }

.fifth-panel .left-side-box {
  position: relative; }

.fifth-panel .right-side-box {
  position: relative; }

.fifth-panel .step-ico {
  display: inline-block;
  position: relative; }
  .fifth-panel .step-ico.active .line-ico {
    border-top-color: #F2006C; }

.fifth-panel .colored-rounds {
  border-radius: 10px;
  background: #F2006C; }

.fifth-panel .row-list-item-problem .flex-row {
  position: relative; }
