@media (max-width: 575.98px) {
  .seventh-panel {
    margin-top: 50px; } }

@media (min-width: 576px) and (max-width: 767.98px) {
  .seventh-panel {
    margin-top: 50px; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .seventh-panel {
    margin-top: 100px; } }

@media (min-width: 992px) and (max-width: 1419.98px) {
  .seventh-panel {
    margin-top: 150px; } }

@media (min-width: 1420px) {
  .seventh-panel {
    margin-top: 160px; } }

.seventh-panel .btn-registration .icon-sign-in {
  opacity: 0.6; }

.seventh-panel .list-style-plus li div h5 {
  letter-spacing: 1px; }

.seventh-panel .list-style-plus li:before {
  text-indent: -30px; }

.seventh-panel .list-with-dashed {
  padding-left: 0; }
  .seventh-panel .list-with-dashed li {
    list-style-type: none;
    list-style-position: inside;
    margin-bottom: 5px; }
    .seventh-panel .list-with-dashed li:before {
      content: '\2014'; }
