@import '../variables';

.fifth-panel {
  .row {
    padding-left: 15px;
  }

  .text-4 {
    font-size: 30px;

    span {
      font-size: 30px;
    }
  }

  .mark-title {
    display: block;

    h4 {
      font-size: 20px;
      font-weight: 800;
    }
  }

  .presentation-box {
    margin-bottom: 20px;

    .left-side-box {
      position: relative;

      margin-bottom: 30px;

      .box-5-image {
        width: 140%;
        margin-left: -17%;
      }

      & + div {
        p {
          font-size: 15px;
        }

        .btn-gradient-border {
          span {
            vertical-align: text-bottom;
            font-size: 16px;
          }
        }
      }
    }
  }

  .row-list-item-problem {
      position: relative;

      .colored-rounds {
        position: absolute;
        top: 8px;
        left: 0px;
        width: 7px;
        height: 7px;
        border-radius: 10px;
        background: $crimson;
        display: inline-block;

        &+p {
          font-size: 15px;
        }
      }
  }

  .box-list-plus {
    padding: 0;

    .list-style-plus {
      margin-bottom: 30px;
      padding-left: 35px;

      > li {
        margin-bottom: 10px;
        font-size: 15px;
      }
    }
  }

  .right-side-box {
    position: relative;

    .box-5-image {
      width: 140%;
      margin-left: -18%;
    }

    .step-ico {
      display: inline-block;
      position: relative;
      margin-left: 0!important;

      &.active {
        .title-step-ico {
          color: $crimson;
        }

      }

      &.col-5 {

        p.text-color-light-gray {
          font-size: 13px;
        }
      }

      .title-step-ico {
        font-size: 16px;
      }
    }

    .line-ico {
      display: none;
    }
  }

  .font-weight-extra-bold {
    font-size: 20px;

    span {
      font-size: 20px;
    }
  }
}