@import '../variables';

.seventh-panel {
  .row{
    padding-left: 15px;

    &.title-box {
      .text-4 {
        font-size: 30px;
        font-weight: 800;

        span {
          font-size: 30px;
          font-weight: 800;
        }
      }

      &+div {
        div {
          padding-right: 0;
        }
      }

      p {
        font-size: 16px;
        text-align: left!important;
        margin-left: 0!important;
      }
    }
  }

  .box-image {
    img {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .btn-registration {
    margin-top: 0;
    margin-left: 0!important;
  }

  .list-style-plus {
    padding: 0 0 0 20px ;

    > li {
      margin-bottom: 40px;

      div {
        margin-top: -28px;

        p {
          font-size: 15px;
        }

        h5 {
          font-size: 16px;
        }
      }

      &:before {
        text-indent: -30px;
      }
    }
  }

  .list-with-dashed {
    li {
      font-size: 15px;
    }
  }
}
