.sixth-panel {
  .row {
    padding-left: 15px;

    .text-title {
      font-size: 30px;
      font-weight: 800;
      margin-bottom: 30px;
    }
  }

  .right-side-box {
    padding-left: 0;
    margin-bottom: 20px;

    .image-box {
      width: 141%;
      margin-left: -17%;
    }
  }

  .list-style-plus {
    li {
      div {
        margin-top: -25px;
        
        .text-color-light-gray {
          color: #000;
        }

        p, span {
          font-size: 15px;
        }

        h5 {
          letter-spacing: 1px;
          font-size: 16px;
          margin-bottom: 10px!important;
        }
      }
      &:before {
        text-indent: -30px;
      }
    }
  }

  .form-contacts {
    padding-right: 15px;

    label {
      font-size: 15px;
    }

    .btn-gradient-border {
      height: 40px;
      padding-top: 10px;

      span {
        font-size: 14px;
        font-weight: bold;
      }


      .attach-file {
        opacity: 0;
      }
    }

    .form-text, .text-color-light-gray {
      font-size: 1rem;
    }
  }
}