.third-panel {
  .left-side-box {
    .text-1 {
      font-size: 30px;
    }
    .text-3 {
      font-size: 30px;
      margin-top: 0;
    }

    p {
      margin-left: -40px;
    }

    .box-img {
      height: 270px;
      overflow: hidden;
      margin-left: -15%;
      width: 137%;
      margin-bottom: 40px;

      .box-3-image {
        width: 110%;
        margin-left: -10%;
      }
    }

  }
}