@import 'variables';

.fifth-panel {
  @media (max-width: $extra-sm-mobile) {
    margin-top: 50px;
  }

  @media (min-width: $land-mobile-start) and (max-width: $land-mobile-end) {
    margin-top: 50px;
  }

  @media (min-width: $tablet-start) and (max-width: $tablet-end) {
    margin-top: 100px;
  }

  @media (min-width: $desctop-start) and (max-width: 1419.98px){
    margin-top: 150px;
  }

  @media (min-width: 1420px) {
    margin-top: 160px;
  }

  .mark-title {
      display: block;
  }

  .left-side-box {
    position: relative;
  }

  .right-side-box {
    position: relative;
  }

  .step-ico {
    display: inline-block;
    position: relative;

    &.active {
      .line-ico {
        border-top-color: $crimson;
      }
    }
  }

  .colored-rounds {
    border-radius: 10px;
    background: $crimson;
  }

  .row-list-item-problem {
    .flex-row {
      position: relative;
    }
  }
}