@import 'variables';

.fourth-panel {
  @media (max-width: $extra-sm-mobile) {
    margin-top: 50px;
  }

  @media (min-width: $land-mobile-start) and (max-width: $land-mobile-end) {
    margin-top: 50px;
  }

  @media (min-width: $tablet-start) and (max-width: $tablet-end) {
    margin-top: 100px;
  }

  @media (min-width: $desctop-start) and (max-width: 1419.98px){
    margin-top: 150px;
  }

  @media (min-width: 1420px) {
    margin-top: 160px;
  }

  .carousel-control-next,
  .carousel-control-prev {
    top: 30%;
    width: 47px;
    height: 49px;
    border-radius: 3px !important;
  }

  .carousel-control-prev {
    left: -5%;

    &:hover {
      box-shadow: $purple -1px 7px 34px -10px;
    }
  }

  .carousel-control-next {
    right: -5%;

    &:hover {
      box-shadow: $purple -1px 7px 34px -10px;
    }
  }

  .carousel-item {
    .position {
      font-size: 15px;
    }
    .description {
      font-size: 13px;
    }
    .box-image {
      position: relative;

      .border-image {
        position: absolute;
        top: 15px;
        left: -15px;
        width: 180px;
        height: 260px;
        border: 1px solid rgba($crimson, 0.4);
        z-index: -1;
      }

      .carusel-image {
        width: 180px;
      }
    }

  }
}