$main-color: #000;
$main-color-strong: #404040;
$purple: #523AB4;
$crimson: #F2006C;
$pink-text-vertical: #FCB3D3;
$light-gray: #888888;
$text-border-purple: #A89CD9;
$color-gradient-btn-start: #5A37B0;
$color-gradient-btn-finish: #e90370;
$color-gradient-header-srart-left: #975FE0;
$color-gradient-header-srart-right: #975EE0;
$color-gradient-header-finish-left: #4C4080;
$color-gradient-header-finish-right: #4C3F81;
$mobile: 500px;
$tablet: 800px;
$desktop: 1200px;

